@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0 0 100);
  --foreground: oklch(222.2 84 4.9);

  --card: oklch(0 0 100);
  --card-foreground: oklch(222.2 84 4.9);

  --popover: oklch(0 0 100);
  --popover-foreground: oklch(222.2 84 4.9);

  --primary: oklch(221.2 83.2 53.3);
  --primary-foreground: oklch(210 40 98);

  --secondary: oklch(210 40 96.1);
  --secondary-foreground: oklch(222.2 47.4 11.2);

  --muted: oklch(210 40 96.1);
  --muted-foreground: oklch(215.4 16.3 46.9);

  --accent: oklch(210 40 96.1);
  --accent-foreground: oklch(222.2 47.4 11.2);

  --destructive: oklch(0 84.2 60.2);
  --destructive-foreground: oklch(210 40 98);

  --border: oklch(214.3 31.8 91.4);
  --input: oklch(214.3 31.8 91.4);
  --ring: oklch(221.2 83.2 53.3);

  --radius: 0.5rem;

  --raisin-black: oklch(240, 15, 13);
  --cardinal: oklch(348, 67, 45);
  --silver: oklch(0, 0, 75);
}

.dark {
  --background: oklch(222.2 84 4.9);
  --foreground: oklch(210 40 98);

  --card: oklch(222.2 84 4.9);
  --card-foreground: oklch(210 40 98);

  --popover: oklch(222.2 84 4.9);
  --popover-foreground: oklch(210 40 98);

  --primary: oklch(217.2 91.2 59.8);
  --primary-foreground: oklch(222.2 47.4 11.2);

  --secondary: (217.2 32.6 17.5);
  --secondary-foreground: oklch(210 40 98);

  --muted: oklch(217.2 32.6 17.5);
  --muted-foreground: oklch(215 20.2 65.1);

  --accent: oklch(217.2 32.6 17.5);
  --accent-foreground: oklch(210 40 98);

  --destructive: oklch(0 62.8 30.6);
  --destructive-foreground: oklch(210 40 98);

  --border: oklch(217.2 32.6 17.5);
  --input: oklch(217.2 32.6 17.5);
  --ring: oklch(224.3 76.3 48);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --border: var(--border);
  --input: var(--input);
  --ring: var(--ring);
  --radius: var(--radius);
  --color-raisin-black: var(--raisin-black);
  --color-cardinal: var(--cardinal);
  --color-silver: var(--silver);
}

@layer base {
}

@layer base {
  * {
    border-color: hsl(var(--border));
    /* @apply border-border outline-ring/50; */
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-to-r {
  background-size: 200% auto;
  animation: gradient-shift 8s ease infinite;
}

.text-raisin-black {
  color: #1d1d27;
}

.text-cardinal {
  color: #bf2541;
}

.text-silver {
  color: #bfbfbf;
}

.bg-raisin-black {
  background-color: #1d1d27;
}

.bg-cardinal {
  background-color: #bf2541;
}

.bg-silver {
  background-color: #bfbfbf;
}

.border-raisin-black {
  border-color: #1d1d27;
}

.border-cardinal {
  border-color: #bf2541;
}

.border-silver {
  border-color: #bfbfbf;
}
